<dx-data-grid
  [dataSource]="data"
  [showBorders]="true">

  <dxi-column dataField="lastPrice" caption="Last Price"></dxi-column>
  <dxi-column dataField="time" caption="Time" dataType="date"></dxi-column>


</dx-data-grid>
