* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // font-family: ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  // color:
}

header {
  background-color: rgb(140, 190, 255);
}

footer {
  background-color: rgb(80, 100, 126);
}

@media (min-width: 760px) {
  .container {
    width: 100%;
    max-width: 1600px;
    padding: 1rem 1rem 0 1rem;
    margin: 0 auto;
    background-color: #eee;

    display: flex;
    flex-direction: row-reverse;
  }
  .side {
    flex-grow: 1;
    max-width: 350px;
  }

  .content {
    padding-right: 1rem;
    flex-grow: 3;
  }
}

