<div>
  <div class="dx-field">
    <div class="dx-field-label">Date from</div>
    <div class="dx-field-value">
      <dx-date-box
        placeholder="Select start period date"
        [showClearButton]="true"
        [useMaskBehavior]="true"
        displayFormat="shortdate"
        type="date"
        (onValueChanged)="onDateFromChanged($event.value)"
      >
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Date to</div>
    <div class="dx-field-value">
      <dx-date-box
        placeholder="Select end period date"
        [showClearButton]="true"
        [useMaskBehavior]="true"
        displayFormat="shortdate"
        type="date"
        (onValueChanged)="onDateToChanged($event.value)"
      >
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Resolution</div>
    <div class="dx-field-value">
      <dx-select-box
        placeholder="Select resolution"
        [showClearButton]="true"
        [items]="resList"
        (onValueChanged)="onResChanged($event.value)"
      >
      </dx-select-box>
    </div>
  </div>

  <div *ngIf="loading; else content">Loading...</div>

  <ng-template #content>
    <div *ngIf="!candles.length; else data">No Data</div>

    <ng-template #data>
      <dx-chart title="Stock Price" [dataSource]="candles">
        <dxi-series
          openValueField="o"
          highValueField="h"
          lowValueField="l"
          closeValueField="c"
        >
          <dxo-reduction color="red"></dxo-reduction>
        </dxi-series>
        <dxo-common-series-settings argumentField="t" type="candlestick">
        </dxo-common-series-settings>
        <dxi-value-axis [tickInterval]="1">
          <dxo-label>
            <dxo-format [precision]="3"> </dxo-format>
          </dxo-label>
        </dxi-value-axis>
        <dxo-argument-axis [workdaysOnly]="true">
          <dxo-label format="shortDate"></dxo-label>
        </dxo-argument-axis>
        <dxo-tooltip
          [enabled]="true"
          location="edge"
          [customizeTooltip]="customizeTooltip"
        >
        </dxo-tooltip>
      </dx-chart>
    </ng-template>
  </ng-template>
</div>
