<header>Test-app currency</header>

<app-test-notifier></app-test-notifier>

<div class="main">
  <div class="container">

    <div class="side">
      <app-test-stocks-info>
      </app-test-stocks-info>
    </div>

    <div class="content">
      <app-test-candles>
      </app-test-candles>
      <app-test-socket>
      </app-test-socket>
    </div>

  </div>
</div>

<footer>footer</footer>
