<div>
  <div *ngIf="loading; else content">Loading...</div>

  <ng-template #content>
    <div *ngIf="!stocks.length; else data">No Data</div>

    <ng-template #data>

      <dx-data-grid 
        [dataSource]="stocks"
        [showBorders]="true"
        [masterDetail]="{ enabled: true, template: 'detail' }"
        (onRowClick)="onRowClick($event.data)">
        
        <dxo-grouping
          [contextMenuEnabled]="true"
          expandMode="rowClick"
        ></dxo-grouping>
        
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager
          [allowedPageSizes]="[20, 50]"
          [showInfo]="true"
          [showNavigationButtons]="true"
          [showPageSizeSelector]="true"
          [visible]="true"
        >
        </dxo-pager>


        <dxi-column dataField="displaySymbol" caption="Pair"></dxi-column>

        <div *dxTemplate="let stock of 'detail'">
          <dx-data-grid 
              [dataSource]="details"
              [showBorders]="true"
              [columnAutoWidth]="true">
            <dxi-column dataField="country"></dxi-column>
            <dxi-column dataField="currency" dataType="date"></dxi-column>
            <dxi-column dataField="exchange" dataType="date"></dxi-column>
            <dxi-column dataField="name" dataType="date"></dxi-column>
            <dxi-column dataField="phone" dataType="date"></dxi-column>
            <dxi-column dataField="weburl" dataType="date"></dxi-column>
          </dx-data-grid>       
      </div>

      </dx-data-grid>

    </ng-template>

  </ng-template>
</div>
